/* Visual inspiration: https://www.internetingishard.com/ */
body {
	font-size: 18px;
}
div, p, input, textarea, button, li, td, th, dd, dt {
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 0.6px;
}
.frame_viewer {
	border-width: 0;
	position: absolute;
    top: 20;
    right: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    height: calc(100vh - 4.27em);
}
.alerts {
	position: absolute;
	top: 4.27em;
}
.alert {
	margin-bottom: 0;
	transition: all 0.1s linear;
}
.hidden {
	height: 0;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
	transition: all 0.1s linear;
}
h1 {
	font-family: 'Amaranth', sans-serif;
}
h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
}
h2 span {
    /* background: #222; */
    background: #fff;
    padding: 0 10px;
}
.jumbotron h2 span {
	background-color: #e9ecef;
	/* background-color: #303030; */
}
.subtitle {
	font-family: 'Amaranth', sans-serif;
}
.sc-hXRMBi.nGwee {
	display: none;
}
figure img {
	-webkit-box-shadow: 5px 5px 16px -6px rgba(0,0,0,0.5);
	-moz-box-shadow: 5px 5px 16px -6px rgba(0,0,0,0.5);
	box-shadow: 5px 5px 16px -6px rgba(0,0,0,0.5);
}
.btn.input-group-append {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.padding {
	padding: 3em 0 1em 0;
}
.container {
	max-width: 600px;
}
p {
	margin-bottom: 1.5em;
}
.list-group {
	max-width: 300px;
	margin: 0px auto;
}